/* קונטיינר עמוד */
.album-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  height: 500px;
  font-family: 'Arial', sans-serif;
  background-color: #f4f7f6;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  height: 500px; /* גובה מקסימלי */
  overflow-y: auto; /* אפשרות לגלול אנכית */
}

/* כותרת */
.album-container h1 {
  text-align: center;
  color: #333;
  font-size: 2rem;
  margin-bottom: 20px;
}

/* כפתור הוספת תמונה */
button {
  padding: 10px 20px;
  background-color: #f68e8e;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-bottom: 20px;
}

button:hover {
  background-color: #ef2929;
}

/* טופס הוספת תמונה */
form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

form input {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 1rem;
  width: 100%;
}

form input:focus {
  border-color: #f0a5a5;
  outline: none;
}

form button {
  background-color: #f78d8d;
  border: none;
  padding: 10px;
  color: white;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
}

form button:hover {
  background-color: #c52d2d;
}
/* עיצוב הרשימה של התמונות עם גלילה */
.photos-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  margin-top: 20px;
 
  padding-right: 10px; /* מרווח מצד ימין עבור גלילה */
}


.photos-list p {
  text-align: center;
  font-size: 1.2rem;
  color: #555;
}


/* עיצוב כרטיס התמונות */
.photo-card {
  background-color: #ffffff;
  border: 1px solid #ddd;
  padding: 8px;
  /* height: 350px; */
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s ease;
  text-align: center;
  overflow: hidden; /* מוסיף חיתוך של התמונה אם היא גדולה מדי */
}

/* הגבלת הגובה של התמונה */
.photo-card img {
  width: 100%; /* מבטיח שהתמונה לא תצא מהמגבלה של הכרטיס */
  height: auto; /* מאפשר לתמונה לשמור על פרופורציות נכונות */
  max-height: 200px; /* מגביל את גובה התמונה */
  object-fit: cover; /* עושה התאמת פרופורציות של התמונה בצורה אופטימלית */
  border-radius: 8px;
  margin-bottom: 10px;
}


.photo-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}



.photo-card .photo-title {
  font-weight: bold;
  margin-bottom: 5px;
  color: #333;
}

/* עיצוב של כפתור "הבא" */
button[type="submit"] {
  padding: 10px 20px;
  background-color: #fa8383 ;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

button[type="submit"]:hover {
  background-color:#f14343;
}
