/* קונטיינר עמוד */
.page-container {
  display: flex;
  justify-content: space-between; /* חלוקה שווה בין החיפוש לאלבומים */
  padding: 20px;
  width: 100%;
  max-width: 1200px;
  box-sizing: border-box;
}


/* רשימת האלבומים */
.albums-list {
  flex: 2; /* שני שלישים */
  max-width: 800px;
  display: flex;
  flex-direction: column; /* מיקום אנכי */
  gap: 20px; /* רווח בין החלקים */
  padding: 20px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow-y: auto; /* גלילה אנכית */
  height: 500px;
}

/* חלק עליון של הקונטרולים */
.albums-controls {
  display: flex;
  flex-direction: column; /* כיוון אנכי */
  gap: 8px; /* רווחים בין האלמנטים */
  background-color:  rgba(203, 112, 112, 0.2);
  padding: 8px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* כפתור הוספת אלבום */
.add-album-btn {
  align-self: center ; /* יישור לשמאל או לימין */
}

/* קונטיינר האלבומים */
.albums-container {
  flex-grow: 1; /* תופס את שאר הגובה */
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  overflow-y: auto;
}


/* עיצוב הקונטיינר הפנימי */
.albums-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px; /* רווח בין האלמנטים */
}


/* עיצוב כרטיס אלבום */
.album-card {
  background-color: rgb(255, 255, 255);
  border: 2px solid hsl(0, 70%, 41%); /* גבול אדום */
  border-radius: 10px; /* פינות מעוגלות */
  padding: 20px; /* מרווח פנימי */
  text-align: center; /* מרכז את התוכן */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* צל רך */
  transition: transform 0.3s, box-shadow 0.3s; /* מעבר רך */
  cursor: pointer; /* סמן עכבר כשהוא על האלמנט */
}

/* מצב ריחוף על כרטיס האלבום */
.album-card:hover {
  background-color: rgba(255, 235, 205, 0.3);
  transform: translateY(-5px); /* הזזת כרטיס כלפי מעלה */
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); /* צל חזק יותר */
}

/* עיצוב לינק בתוך הכרטיס */
.album-link {
  text-decoration: none; /* ביטול קו תחתון */
  color: inherit; /* שמירה על צבע הטקסט */
}

/* עיצוב המידע על האלבום */
.album-info {
  padding: 10px;
}

/* עיצוב מזהה האלבום */
.album-id {
  font-size: 14px;
  color: #888; /* צבע כהה יותר */
}

/* עיצוב כותרת האלבום */
.album-title {
  font-size: 18px;
  font-weight: bold;
  color: hsl(0, 70%, 41%); /* צבע אדום */
  margin-top: 5px;
}

