
  .comments-container {
    border: 2px solid #e16987; /* מסגרת בצבע ורוד */
    border-radius: 8px; /* קצוות מעוגלים */
    padding: 15px; /* רווח פנימי */
    margin: 20px; /* רווח מחוץ למסגרת */
    background-color: #f8f9fa; /* צבע רקע בהיר */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* הצללה עדינה */
    margin-bottom:20px;
    max-height: 300px; /* גובה מקסימלי של מיכל התגובות */
    overflow-y: auto; /* פס גלילה אנכי */
  }
  
  .comments-container::-webkit-scrollbar {
    width: 8px; /* רוחב פס הגלילה */
  }
  
  .comments-container::-webkit-scrollbar-thumb {
    background-color: #e16987; /* צבע פס הגלילה */
    border-radius: 4px; /* עיגול קצוות פס הגלילה */
  }
  
  .comments-container::-webkit-scrollbar-thumb:hover {
    background-color: #c2566c; /* צבע כהה יותר בעת ריחוף */
  }
  
  .comments-section {
    margin: 20px 20px; /* רווח מעל לתגובות */
  }
  
  .comment-container {
    border: 1px solid #c9bf37; 
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px; /* רווח בין תגובות */
    background-color: #fed2d2;
  }
  
  .comment-item:hover {
    background-color: #f1f1f1; /* שינוי רקע בריחוף */
  }
  
  